/* 专题中会产生影响的全局样式 */
*{ padding:0; }
ul,ul li { margin:0; }

.offcn-sso-folat {
  position: fixed;
  right: -15px;
  top: 30%;
  width: 86px;
  padding: 6px 0 0;
  z-index: 9999;
}

.offcn-sso-folat-close {
  display: block;
  width: 12px;
  height: 12px;
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat 0 -218px;
  position: fixed;
  right: 10px;
  top: 30%;
  margin-top: -15px;
}

.offcn-sso-folat-close:hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat 0 -269px;
}

.offcn-sso-folat a {
  text-decoration: none;
}

.offcn-sso-folat li {
  font-size: 12px;
  width: 65px;
  border: 1px solid #e6e6e6;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #dcdada;
  list-style: none;
  border-radius: 5px;
}

.offcn-sso-folat li a {
  color: #505e65;
  display: block;
  padding: 40px 0 5px;
  transition: all 0.3s;
}

.offcn-sso-folat li:hover a, .offcn-sso-folat li.hover a {
  color: #fff;
}

.offcn-sso-folat li.li1 {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -194px -181px #fff;
}

.offcn-sso-folat li.li1:hover, .offcn-sso-folat li.li1.hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -194px -253px #e60012;
}

.offcn-sso-folat li.li2 {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -114px -178px #fff;
}

.offcn-sso-folat li.li2:hover, .offcn-sso-folat li.li2.hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -114px -250px #e60012;
}

.offcn-sso-folat li.li3 {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -55px -180px #fff;
}

.offcn-sso-folat li.li3:hover, .offcn-sso-folat li.li3.hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -55px -252px #e60012;
}

.offcn-sso-folat li.li4 {
  background: url(http://gd.offcn.com/dl/2020/0319/20200319044522115.png)
    no-repeat 50% 10px #fff;
}

.offcn-sso-folat li.li4:hover, .offcn-sso-folat li.li4.hover {
  background: url(http://gd.offcn.com/dl/2020/0319/20200319050100110.png)
    no-repeat 50% 10px #e60012;
}

.offcn-sso-folat li.li5 {
  background: url(http://jl.offcn.com/statics/images/zgimg/20181120113116208.jpg)
    no-repeat 50% 10px #fff;
}

.offcn-sso-folat li.li5:hover, .offcn-sso-folat li.li5.hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/20181120113140239.png)
    no-repeat 50% 10px #e60012;
}

.offcn-sso-folat .offcn-sso-popup {
  position: fixed;
  top: 30%;
  left: 100%;
  width: 333px;
  height: 0;
  transition-property: height, left, margin-left;
  transition-duration: 2s, 2s, 2s;
  z-index: 9999;
  cursor: pointer;
}

.offcn-sso-folat .offcn-sso-popup-img {
  display: block;
  width: 100%;
  height: 100%;
}

.offcn-sso-folat .offcn-sso-popup-close {
  position: absolute;
  z-index: 99;
}

.offcn-sso-folat .offcn-sso-popup-close-top {
  top: -28px;
  right: 0;
}

.offcn-sso-folat .offcn-sso-popup-do-not-show {
  color: gainsboro;
  left: 18px;
  bottom: 16px;
  font-size: 14px;
}

.offcn-sso-folat .offcn-sso-popup-input {
  display: none;
  position: absolute;
  top: 312px;
  color: #999999;
  text-indent: 18px;
}