.hl-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: none;
}

.hl-popup {
    background: #f3f5f7;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    text-align: center;
}

.hl-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -30px;
    top: -40px;
    cursor: pointer;
    background: url(https://statics.jilinoffcn.com/images/public/close.png) no-repeat center center;
}

/* 手机号登陆 开始 */
.hl-phone {
    width: 450px;
    margin-top: -210px;
    margin-left: -225px;
}

.hlp-top{
    background:#fff;
    opacity: 0.9;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    width: 100%;
    height:60px;
    display: flex;
    font-size: 24px;
    line-height:60px;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
}

.hlp-top span{
    width: 150px;
    text-align: center;
    margin: 0 auto;

}

.hlpt-current{
    color: #da2d18;
    font-size: 24px;
}

.offcn-sso-tips {
    font-size: 16px;
    line-height:50px;
    text-align: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.offcn-sso-tips span{
    display: block;
    float: left;
    margin-top: 16px;
    margin-left:30px;
}



.hlp-middle{
    margin:30px auto;
}

.hlbj{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.hlbj img{    
    width: 18px;
    height:24px;
    padding:13px 22px 12px 20px;
    float: left;
}
.hlp-middle input{
    width: 80%;
    height: 49px;
    line-height: 49px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    outline: none;
}

#offcn-sso-submit {
    width: 170px;
    background: #da2d18;
    color: #fff;
    padding: 0;
    cursor: pointer;
    border-radius:25px;
    box-shadow: 0px 2px 7.2px 0.8px #e5bcbe;
    margin: 10px auto;
    -webkit-appearance: none;/*去掉苹果默认样式*/
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.offcn-sso-code-line{
    position: relative;
    display: none;
}

#offcn-sso-location{
    background: none;
    font-size: 14px;
    color: gray;
    text-align: center;
}

.offcn-sso-code-line #offcn-sso-get-code {
    width: 120px;
    height:50px;
    position: absolute;
    right:0px;
    top:0px;
    text-align: center;
    line-height: 50px;
    font-size:14px;
    cursor: pointer;
    text-decoration: none;
    background: #da2d18;
    color: #fff;
    border-radius: 5px;
}
/* 手机号登陆 结束 */

/* 底部 开始 */
.hlp-bottom {
    width: 150px;
    margin:5px auto;
    border-top: 3px solid #ec414d;
}
/* 底部 结束 */

@media screen and (max-width:700px) {
    .hl-phone {
        width:350px;
        margin-top: -210px;
        margin-left: -175px;
    }

    .hl-close {
        right: 0px;
        top: -40px;
    }
    .hlp-middle input{
        width:70%;
    }

    .offcn-sso-tips {
        width:100%;
        margin: 0 auto;
    }
}
