body,td,th {
	color: #FFFFFF;
}
body {
	background-color: #0099CC;
}
.STYLE7 {
	font-size: 30px;
	margin-top: 0px;
}
.STYLE12 {
	font-size: 80px;
	margin-left: 10px;
}

.link, link:visited, link:hover, link:active, link:link {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}
