/* 全局样式 */
*{ margin:0 auto; padding:0; list-style:none; text-decoration:none;}
ul,ul li,dl,dl dt,dl dd { display:block; margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }
img { border:none; }
a { cursor:pointer; text-decoration:none; }
body{ padding:0; margin:0; font-family:"Microsoft YaHei"; }

.chaos-folat {
  position: fixed;
  right: -15px;
  top: 32%;
  width: 86px;
  padding: 6px 0 0;
  z-index: 9999;
}

.chaos-folat .chaos-folat-girl {
  position: absolute;
  left: -98px;
  margin-top: 15px;
  width: 100px;
  animation: girl-move 2s infinite;
}

@keyframes girl-move {
  0% {
    top: -80px;
  }
  50% {
    top: -60px;
  }
  100% {
    top: -80px;
  }
}

.chaos-folat-close {
  display: block;
  width: 12px;
  height: 12px;
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat 0 -218px;
  position: fixed;
  right: 10px;
  top: 30%;
}

.chaos-folat-close:hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat 0 -269px;
}

.chaos-folat a {
  text-decoration: none;
}

.chaos-folat li {
  font-size: 13px;
  width: 65px;
  border: 1px solid #e6e6e6;
  margin-bottom: 5px;
  text-align: center;
  background: #fff;
  position: relative;
  box-shadow: 0 0 10px #dcdada;
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
}

.chaos-folat li a {
  color: #505e65;
  display: block;
  padding: 40px 0 5px;
}

.chaos-folat li a:hover {
  color: #fff;
}

.chaos-folat li.li1 a.on {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -194px -253px #e60012;
  color: #fff;
}

.chaos-folat li.li2 a {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -114px -178px;
}

.chaos-folat li.li2 a:hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -114px -250px #e60012;
}

.chaos-folat li.li3 a {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -55px -180px;
}

.chaos-folat li.li3 a:hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/script_jhicon.png)
    no-repeat -55px -252px #e60012;
}

.chaos-folat li.li4 a {
  background: url(http://jl.offcn.com/statics/images/zgimg/20181120113116208.jpg)
    no-repeat 50% 10px;
}

.chaos-folat li.li4 a:hover {
  background: url(http://jl.offcn.com/statics/images/zgimg/20181120113140239.png)
    no-repeat 50% 10px #e60012;
}

.chaos-folat .chaos-popup {
  position: fixed;
  top: 30%;
  left: 100%;
  width: 490px;
  height: 0;
  transition-property: height, left, margin-left;
  transition-duration: 2s, 2s, 2s;
  border-radius: 25px;
  z-index: 9999;
  cursor: pointer;
}

.chaos-folat .chaos-popup-img {
  display: block;
  width: 100%;
  height: 100%;
}

.chaos-folat .chaos-popup-close {
  position: absolute;
  z-index: 99;
}

.chaos-folat .chaos-popup-close-top {
  width: 15px;
  height: 15px;
  top: 9px;
  right: 9px;
}

.chaos-folat .chaos-popup-close-bottom {
  width: 55px;
  height: 18px;
  right: 88px;
  bottom: 9px;
}

.chaos-folat .chaos-popup-do-not-show {
  color: gainsboro;
  left: 10px;
  bottom: 8px;
  font-size: 14px;
}
