
.chaos-v5-wechat-mp-link-pop {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 5px;
  width: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -140px;
  z-index: 9999;
}

.chaos-v5-wechat-mp-link-pop div {
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
}

.chaos-v5-wechat-mp-link-pop img {
  display: block;
}

.chaos-v5-wechat-mp-link-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  display: none;
}
