.chaos-checked {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2ac845;
}

.chaos-checked {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2ac845;
}

.chaos-uncheck {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #5f646e;
}

.chaos-checked:before, .chaos-checked:after,.chaos-uncheck:before,.chaos-uncheck:after {
    content: '';
    pointer-events: none;
    position: absolute;
    color: white;
    border: 1px solid;
    background-color: white;
}

.chaos-checked:before {
    width: 1px;
    height: 1px;
    left: 25%;
    top: 50%;
    transform: skew(0deg,50deg);
}

.chaos-checked:after {
    width: 3px;
    height: 1px;
    left: 45%;
    top: 42%;
    transform: skew(0deg,-50deg);
}

.chaos-uncheck:before {
    width: 5px;
    height: 1px;
    left: 29%;
    top: 42%;
    transform: skew(0deg,45deg);
}

.chaos-uncheck:after {
    width: 5px;
    height: 1px;
    left: 29%;
    top: 42%;
    transform: skew(0deg,-45deg);
}
